#header {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 0;
}

#header .header-title {
  text-align: center;
  font-size: 20px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  #header .header-title {
    margin-left: 20px;
    line-height: 2.0;
  }
}

#header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000000;
  width: 55%;
}

#header .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-nav .list {
  margin-right: 50px;
  list-style: none;
  font-size: 20px;
}

#header .header-nav .icon {
  list-style: none;
  margin-left: 50px;
}

#header .header-nav a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #header .header-nav {
    display: none;
  }
}

#header #nav {
  display: none;
}

@media screen and (max-width: 768px) {
  #header #nav {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    -webkit-transition: .7s;
    transition: .7s;
    display: block;
    z-index: 100;
  }
  #header #nav.in {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  #header #nav ul {
    padding-top: 80px;
  }
  #header #nav li {
    list-style-type: none;
    font-size: 20px;
  }
  #header #nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
    padding: 10px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #header #nav a:hover {
    color: #ffffff;
    background: dodgerblue;
    border-bottom: none;
  }
}

#header #hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  #header #hamburger {
    top: 20px;
    right: 15px;
    width: 50px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    display: block;
    z-index: 100;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #header #hamburger .inner_line {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  #header #hamburger #line1 {
    top: 0;
  }
  #header #hamburger #line2 {
    top: 10px;
  }
  #header #hamburger #line3 {
    bottom: 20px;
  }
  #header #hamburger .line_1, #header #hamburger .line_2, #header #hamburger .line_3 {
    background: #000000;
  }
  #header #hamburger .line_1 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  #header #hamburger .line_2 {
    opacity: 0;
  }
  #header #hamburger .line_3 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
}

.main-vis {
  background-image: url("../img/business2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 10%;
}

.main-vis p {
  color: #fff;
  font-size: 40px;
}

#service {
  margin-top: 5%;
}

#service .service-wrap {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #service .service-wrap {
    width: 90%;
  }
}

#service .service_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7%;
}

@media screen and (max-width: 768px) {
  #service .service_first {
    display: inline;
  }
}

#service .service_first img {
  width: 60%;
  display: block;
}

@media screen and (max-width: 768px) {
  #service .service_first img {
    width: 100%;
  }
}

#service .service_first .service-inner_first {
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  #service .service_first .service-inner_first {
    margin-left: 0;
  }
}

#service .service_first h3 {
  font-size: 20px;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #service .service_first h3 {
    margin: 3% 0;
  }
}

#service .service_first p {
  line-height: 3.0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #service .service_first p {
    line-height: 1.5;
    padding: 5%;
    border: 1px solid #000;
  }
}

#service .service_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7%;
}

@media screen and (max-width: 768px) {
  #service .service_second {
    display: inline;
  }
}

#service .service_second .service-img {
  display: none;
}

@media screen and (max-width: 768px) {
  #service .service_second .service-img {
    width: 100%;
    display: block;
    margin-top: 5%;
  }
}

#service .service_second img {
  width: 60%;
  display: block;
}

@media screen and (max-width: 768px) {
  #service .service_second img {
    width: 100%;
    display: none;
  }
}

#service .service_second .service-inner_second {
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  #service .service_second .service-inner_second {
    margin: 5% 0;
  }
}

#service .service_second h3 {
  font-size: 20px;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #service .service_second h3 {
    margin: 3% 0;
  }
}

#service .service_second p {
  line-height: 3.0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #service .service_second p {
    line-height: 1.5;
    padding: 10% 5%;
    border: 1px solid #000;
  }
}

#service .service_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7%;
}

@media screen and (max-width: 768px) {
  #service .service_third {
    display: inline;
  }
}

#service .service_third img {
  width: 60%;
  display: block;
}

@media screen and (max-width: 768px) {
  #service .service_third img {
    width: 100%;
    margin-top: 5%;
  }
}

#service .service_third .service-inner_third {
  margin-left: 10%;
}

@media screen and (max-width: 768px) {
  #service .service_third .service-inner_third {
    margin: 5% 0;
  }
}

#service .service_third h3 {
  font-size: 20px;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #service .service_third h3 {
    margin: 3% 0;
  }
}

#service .service_third p {
  line-height: 3.0;
  text-align: center;
  line-height: 1.5;
  padding: 10% 5%;
  border: 1px solid #000;
}

#contact {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  width: 80%;
  margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 5%;
  }
}

#contact .contact-title {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3%;
}

#contact .contact-wrap {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

#contact form {
  text-align: center;
  margin-top: 2%;
}

#contact .input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 30%;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #contact .input {
    width: 100%;
    margin-bottom: 4%;
  }
}

#contact .msg {
  margin: 0 auto;
  border: none;
  width: 60%;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: 0;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  #contact .msg {
    width: 100%;
    margin-top: 0;
  }
}

#contact .btn {
  background-color: #000;
  color: #fff;
  margin: 5% 0;
  padding: 2% 5%;
  border: none;
}

#footer {
  margin: 0 auto;
  background-color: gainsboro;
  color: #fff;
}

#footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#footer .footer-wrap h1 {
  margin-left: 50px;
}

#footer .footer-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-nav .footer-list {
  list-style: none;
  margin-bottom: 10%;
}

#footer .footer-nav .footer-list a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=service.css.map */