// @charset "UTF-8";
$font_size:15px;
$glay:#dcdcdc;
$backdiv:rgb(220, 220, 220);

@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin Title{
    font-size: $font_size+25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3%;
}
@mixin inner {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #000;
    text-align: center;
}
@mixin service {
  position: absolute;
  background-color: #fff;
  text-align: center;
  padding: 5%;
  border: 1px solid #000;
}
@mixin  card {
  width: 28%;
  padding: 20px 35px 30px;
  box-sizing: border-box;
  margin-bottom: 50px;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius:0 .25rem;
}
html { 
  scroll-behavior: smooth;
}

#main {
  background-image: url("../img/business2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  color: #fff;
#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 3% 0;
  .header-title {
    text-align: center;
    font-size: $font_size+5px;
    margin-left: 50px;
    color: #000;
  @include sp {
      margin-left: 20px;
      line-height: 2.0;
    }
  }
  .header-nav {
    display: flex;
    border-bottom: 1px solid #000000;
    width: 50%;
    @include sp {
      display: none;
    }
      ul {
    display: flex;
  }
  li {
    list-style: none;
    font-size: $font_size;
  }
  .list {
    margin-right: 50px;
  }
  .icon {
    margin-left: 50px;
    color: #000;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  }

  #nav {
    display: none;
  @include sp {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: .7s;
    display: block;
    z-index: 100;
 &.in{
  transform: translateX(100%);
}
  ul {
    padding-top: 80px;
  }
  li {
     list-style-type: none;
    font-size: 20px;
  }
  a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 20px;
  padding: 10px;
  transition: .5s;
  &:hover {
  color: #ffffff;
  background:dodgerblue;
  border-bottom: none;
  }
}
 }
 
}

  #hamburger {
  display: none;
    @include sp {
    top: 20px;
    right: 15px;
    width: 50px;
    height: 44px;
   position: absolute;
   cursor: pointer;
   display: block;
   z-index: 100;
    transition: 0.4s;
  .inner_line {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: 0.8s;
}
  #line1 {
  top: 0;
}
#line2 {
  top: 10px;
}
#line3 {
  bottom: 20px;
}
.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  transform: rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: rotate(45deg);
  top: 0;
}

   }

  }
 }
 .consept {
   font-size: $font_size+50px;
   font-family:serif;
   font-weight: bold;
   position: absolute;
   top: 35%;
   left: 10%;
 }
}

#about {
  position: relative;
  @include sp {
    padding: 5%;
    margin-top: 3%
  }
  .about-title {
  @include Title;
  @include sp {
    text-align: center;
    margin-bottom: 5%;
  }
  }
  .about-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    margin-bottom: 5%;
    @include sp {
      display: inherit;
    }
  }
  .about-div {
    padding:10%;
    width: 70%;
    background-color: $glay;
    position: absolute;
    top: 20%;
    z-index: -1;
   @include sp {
      display: none;
    }

  }
  .about-div_seconnd {
    padding:10%;
    width: 40%;
    background-color: $glay;
    position: absolute;
    top: 65%;
    z-index: -1;
    @include sp {
      display: none
    }
  }
  .inner {
   @include inner;
   padding: 1%;
      h3 {
     font-size: $font_size+10px;
      margin-bottom: 7%;
      margin-top: 3%;
   }
    p {
      margin-bottom: 5%
    }
    @include sp {
      width: 100%;
      margin-bottom: 5%;
      padding: 0;
    }
  }
  .second_inner {
   @include inner;
   padding: 1%;
   h3 {
     font-size: $font_size+10px;
      margin-bottom: 7%;
      margin-top: 3%;
   }
    p {
      margin-bottom: 5%
    }
   @include sp {
      width: 100%;
       padding: 0;
    }

  }
  .third_inner {
    @include inner;
    padding: 5%;
    margin: 0 auto;
       h3 {
     font-size: $font_size+10px;
      margin-bottom: 7%;
   }
    p {
      margin-bottom: 5%
    }
      @include sp {
      width: 100%;
       padding: 0;
    }
  }
}


 #service {
    position: relative;
    margin-top: 7%;
    padding-bottom: 45%;
    @include sp {
      text-align: center;
      margin-top: 3%;
      padding-bottom: 5%;
    }
   img {
     width: 100%;
     display: block;
   }
  .service-title{
    @include Title;

      @include sp {
    margin: 0 auto;
  }
  }
.service-wrap {
  padding: 10% 0;
  @include sp {
    text-align: center;
  }
}
.service_web{ 
  position: relative;
  }

  .first-img {
    width: 30%;
    position: absolute;
    right: 7%;
    top: 10%;
 @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 3%;
    }  
  }
  .second-img {
    width: 50%;
    position: absolute;
    left: 3%;
    top: 20%;
    z-index: 20;
     @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
       margin-bottom: 3%;
    }
  }
  .third-img {
    width: 40%;
    position: absolute;
    right: 2%;
    top: 45%;
     @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
       margin-bottom: 3%;
    }
  }
  .back-div {
    background-color: $backdiv;
    padding: 23% 33%;
    position: absolute;
    z-index: -10;
    top: 25%;
     @include sp {
      display: none;
    }
  }
  .service-inner {
    @include service;
    
    top: 30%;
    right: 8%;
    z-index: 10;
    @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5%;
    }
  }
  .service-inner_second {
    @include service;
    
    top: 55%;
    left: 4%;
    z-index: 30;
     @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5%
    }
  }
  .service-inner_third {
    @include service;
    
    top: 75%;
    right: 4%;
    z-index: 30;
     @include sp {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5%
    }
  }
    .btn {
    position: absolute;
    border: 1px solid #000;
    padding:2% 5%;
    bottom: 10%;
    left: 25%;
    background-color: #fff;
    a {
      text-decoration: none;
      color: #000;
    }
    @include sp {
      position: inherit;
      width: 30%;
      margin: 0 auto;
    }
  }
 }
#news {
  padding: 5% 0 7% 0;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #000;
  @include sp {
    width: 90%;
    margin-bottom: 5%
  }
  .news-title {
    @include Title;
    margin-bottom: 5%;
  }
  .news-wrap {
  text-align: center;
  }
  .news-list {
    list-style: none;
    margin-bottom: 4%;
    @include sp {
      margin-bottom: 7%;
    }
  }
  .btn {
    border: 1px solid #000;
    padding:2% 5%;
    margin: 10% 40% 0;
    @include sp {
      width: 40%;
      margin: 0 auto;
    }
  }
  a{
    text-decoration: none;
    color: #000;
  }
}

#recruit {
  margin-bottom: 25%;
  @include sp {
    text-align: center;
  }
  .recruit-title {
    @include Title;
  }
  .recruit-wrap {
     position: relative;
     padding: 20% 0;
     @include sp {
       padding: 8% 0;
     }
  }
  .recruit-img {
    width: 50%;
    position: absolute;
    top: 3%;
    left:5%;
    z-index: 10;
    @include sp {
      width: 90%;
      position: inherit;
    }
  }
  img {
    width: 100%;
    display: block;
    @include sp {
      margin: 0 auto;

    }
  }
  .recruit-text {
    width: 40%;
    text-align: center;
    padding: 5%;
    background-color: $backdiv;
    position: absolute;
    right: 5%;
    top: 60%;
    h3 {
    margin-bottom: 5%;
    font-size: $font_size+15px;
  }
    h5 {
      margin-bottom: 5%;
      font-size: $font_size+10px;
    }
    p {
      line-height: 2.0;
      margin-bottom: 6%;
    }
   a {
     text-decoration: none;
     color: #000;
   }
  .btn {
    border: 1px solid #000;
    padding:2% 3%;
    margin: 10% 40% 0;
    @include sp {
      width: 50%;
      margin: 0 auto;
    }
  }
  @include sp {
    position: inherit;
    width: 100%;
    
  }
  }
  
}

#contact {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  width: 80%;
  margin-bottom: 10%;
  @include sp {

    padding: 5%
  }
  .contact-title {
    @include Title;
  }
  .contact-wrap {
    margin: 0 auto;
    text-align: center;
    font-size: $font_size;
  }
  form {
  text-align: center;
  margin-top: 2%;
}
.input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 40%;
  outline: 0;
  box-sizing: border-box;
  @include sp {
    width: 100%;
    margin-bottom: 4%;
  }
}
.msg {
  margin: 0 auto;
  border: none;
  width: 80%;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: 0;
  margin-top: 5%;
  @include sp {
    width: 100%;
    margin-top: 0;
  }
}
.btn {
  background-color: #000;
  color: #fff;
  margin: 5% 0;
  padding: 2% 5%;
  border:none;
}
}

#footer {
  margin: 0 auto;

  background-color:$backdiv;
  color: #fff;
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    h1 {
      margin-left: 50px;
    }
  }
  .footer-nav {
    align-items: center;
      .footer-list {
    list-style: none;
    margin-bottom: 10%;
  a {
    text-decoration: none;
    color: #fff;
  }
  }

  }
}
